name: Build LaTeX and publish PDF

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Set up LaTeX environment
        uses: TeX-Live/setup-texlive-action@v3
        with:
          package-file: .github/workflows/tl_packages.txt

      - name: Build LaTeX
        run: latexmk -pdf cv

      - name: Publish PDF as release asset
        if: success()
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          files: cv.pdf
